<div class="p-6 rounded-xl shadow-lg bg-museo-beige dark:bg-museo-gris w-full max-w-md h-full">
  <div *ngIf="description; else nodata">

  <h2 class="text-2xl font-bold text-museo-negro dark:text-museo-blanco">
    {{ description?.title || 'Título desconocido' }}
  </h2>

  <p class="text-lg text-museo-gris dark:text-gray-300 mt-1">
    <span class="font-semibold">
      {{ description?.year || 'Año desconocido' }}
    </span> 
    - 
    <span class="italic">
      {{ description?.authors || 'Autor desconocido' }}
    </span>
  </p>

  <p class="text-museo-gris dark:text-gray-300 mt-3">
    {{ description?.description || 'Descripción no disponible' }}
  </p>
  <div class="flex justify-start">
    <span *ngIf="description?.wikilink && description.wikilink.trim() !== ''">
      <a [href]="description.wikilink" target="_blank" rel="noopener noreferrer"
      class="link-button">
        <img src="/assets/icon/wikipedia.svg" alt="Wikipedia" class="w-12 h-12 transition-all">
      </a>
    </span>
  
    <span *ngIf="description?.pradolink && description.pradolink.trim() !== ''">
      <a [href]="description.pradolink" target="_blank" rel="noopener noreferrer"
      class="link-button"
      >
        <img src="/assets/icon/prado.svg" alt="Museo del Prado" class="w-12 h-12 transition-all">
      </a>
    </span>

  </div>
  


  
  </div>
  <ng-template #nodata>
    <div class="flex justify-center">
      <img src="/assets/icon/eclipse-half.svg" alt="Toca esperar"
      class="w-24 h-24 "
      >

    </div>
  </ng-template>
</div>
