<ion-content [fullscreen]="true" 
  class="bg-museo-fondo-claro dark:bg-museo-fondo-oscuro flex px-6 space-y-8 ">

  <div class="flex justify-end">
    <button
      (click)="goToHistory()"
      class=" text-museo-negro dark:text-museo-blanco p-4 rounded-full 
          hover:scale-105 hover:shadow-lg active:scale-95 transition-all
          flex items-center space-x-2 "
          >
      <img [src]="historySrc" alt="History" class="w-8 h-8 transition-all">
    </button>
  </div>
  <div class="relative w-full flex flex-col items-center">
    <h1 class="text-3xl font-extrabold text-museo-negro dark:text-museo-blanco text-center  tracking-wide">
      Escanea tus obras de arte
    </h1>
    <div class="bar-title"></div>
  </div>
  

  
  <div *ngIf="!photoTaken" class="mx-3 bg-museo-beige dark:bg-museo-gris p-6 rounded-lg shadow-lg flex-grow">
    <h2 class="text-lg font-semibold text-museo-negro dark:text-museo-blanco mb-4">¿Cómo escanear tu obra de arte?:</h2>
    <ol class="list-decimal list-inside space-y-2 text-museo-gris dark:text-gray-300 text-sm">
      <li>Haz clic en el botón para activar la cámara.</li>
      <li>Enfoca y captura una foto nitida de la obra.</li>
      <li>Espera mientras analizamos la imagen y te mostraremos los detalles.</li>
    </ol>
  </div>

  <div class="w-full max-w-md flex flex-col flex-grow">
    <app-camera class="w-full" (imageCaptured)="onImageCaptured($event)"></app-camera>
  </div>

  <div *ngIf="photoTaken" class="w-full max-w-md flex flex-col items-center">
    <h3 class="text-xl font-semibold text-museo-negro dark:text-museo-blanco text-center uppercase tracking-wide relative mt-6">
      Información
      <span class="block w-20 h-1 bg-museo-oro dark:bg-museo-terracota mt-2 mx-auto rounded-full"></span>
    </h3>
  
    <button *ngIf="!showAudioPlayer" (click)="playAudio(responseData?.description || '')" 
      class="bg-museo-oro text-museo-negro dark:text-museo-blanco p-4 rounded-full 
            hover:scale-105 hover:shadow-lg active:scale-95 transition-all
            mt-6 mb-6 flex items-center space-x-2">
      <img src="/assets/icon/headphones.svg" alt="headphones" class="w-8 h-8 transition-all">
    </button>

    <div *ngIf="showAudioPlayer" class="w-full max-w-md flex flex-col items-center my-4 space-y-4">


    <audio #audioPlayer controls 
      id="audioPlayer"
      class="w-5/6 rounded-lg shadow-lg bg-museo-beige dark:bg-museo-gris">
    </audio>


    </div>

    
    
    
  </div>
  <app-art-card *ngIf="photoTaken" [description]="responseData"></app-art-card>
  



  
</ion-content>
