<ion-header [translucent]="true">
  <ion-toolbar class="bg-azul-patrimonio text-marmol-beige">
    <ion-title class="text-xl font-bold text-center">ArtLens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-marmol-beige flex flex-col items-center justify-center">
  
  <!-- Header secundario en pantallas grandes -->
  <ion-header collapse="condense">
    <ion-toolbar class="bg-azul-patrimonio text-marmol-beige">
      <ion-title size="large" class="text-oro-clasico text-center">Explora el Arte</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenedor de los botones -->
  <div class="w-full max-w-md p-6 space-y-4 ">
    
    <h2 class="text-center text-white text-2xl font-bold">Selecciona tu edad</h2>

    <!-- Botón 1: Niños -->
    <button 
      (click) = "goToCamera()"
      class="w-full bg-oro-clasico hover:bg-oro-clasico-hover text-white font-bold py-3 px-4 rounded-lg transition text-lg">
      Niños
    </button>

    <!-- Botón 2: Adolescentes -->
    <button class="w-full bg-azul-patrimonio hover:bg-gray-800 text-marmol-beige font-bold py-3 px-4 rounded-lg transition text-lg">
      Adolescentes
    </button>

    <!-- Botón 3: Jubilados -->
    <button class="w-full bg-gris-pizarra hover:bg-gray-700 text-white font-bold py-3 px-4 rounded-lg transition text-lg">
      Jubilados
    </button>

  </div>

</ion-content>
