<ion-content [fullscreen]="true" 
  class="bg-museo-fondo-claro dark:bg-museo-fondo-oscuro flex flex-col items-center justify-center px-6 space-y-8"
  >

  <div class="w-full flex flex-col items-center space-y-4 mt-8">
    
    <img 
      [src]="logoSrc" 
      alt="Logo" 
      class="w-24 h-24 transition-all"
      (click)="goToDocumentation()"
    >

    <h1 class="text-3xl font-bold text-museo-negro dark:text-museo-blanco text-center">ArtLens</h1>
    <div class="bar-title"></div>

    <p class="text-lg text-museo-gris dark:text-gray-400 max-w-md text-center">
      Elige tu perfil y descubre información adaptada para ti.
    </p>
  </div>


  <div class="w-full max-w-md p-6 space-y-6">
    
    <h2 class="text-center text-museo-terracota text-2xl font-bold font-body">Selecciona tu perfil</h2>


    <button 
      (click)="goToCamera('child')"
      class="custom-button bg-museo-oro border-b-4 border-museo-terracota hover:border-b-2">
      <span class="text-2xl">🧒</span>
      <span>Niño</span>
    </button>

 
    <button 
      (click)="goToCamera('tourist')"
      class="custom-button bg-museo-azul border-b-4 border-museo-gris hover:border-b-2">
      <span>🌍</span>
      <span>Turista</span>
    </button>


    <button 
      (click)="goToCamera('finearts')"
      class="custom-button bg-museo-vino border-b-4 border-museo-oliva hover:border-b-2">
      <span>🎨</span>
      <span>Estudiante de Bellas Artes</span>
    </button>


    <button 
      (click)="goToCamera('researcher')"
      class="custom-button bg-museo-oliva border-b-4 border-museo-gris hover:border-b-2">
      <span>📚</span>
      <span>Investigador</span>
    </button>



    <app-custom-profile *ngIf="showCustomProfile" (close)="toggleCustomProfile()"></app-custom-profile>
  </div>

</ion-content>
